<div class="container">
  <h2 mat-dialog-title>Your registration was successful!</h2>
  <div class="body" >
    <p> Please, check your data below:</p>
      <mat-list role="list">
      <!-- <mat-list-item role="listitem">First Name: {{data.firstName}}</mat-list-item>
      <mat-list-item role="listitem">Last Name: {{data.lastName}}</mat-list-item>
      <mat-list-item role="listitem">Gender: {{data.gender}}</mat-list-item>
      <mat-list-item role="listitem">Age: {{data.age}}</mat-list-item>
      <mat-list-item role="listitem">Email: {{data.email}}</mat-list-item>
      <mat-list-item role="listitem">Password: {{data.password}}</mat-list-item> -->
      <mat-list-item role="listitem">Test: {{data}}</mat-list-item>
    </mat-list>

  </div>
  <button class="mat-flat-button mat-primary" (click)="onSingUpClick()">Sign up
    again</button>
</div>